# 1. まずはすべてを無視
*

# 2. ディレクトリ構造を辿れるように、ディレクトリ自体は無視しない
!*/

# 3. すべての .py ファイルを許可
!**/*.py

# 4. 特定の学習モデルフォルダとその中身を許可
#!models_archive/0128_0453/
#!models_archive/0128_0453/**

# 5. .gitignore 自体も保存対象にする
!.gitignore


# models_archive 全体を無視（ここが重要）
models_archive/
